
<div class="container">
  <div class="home-container">
    <img src="assets/logo.png" width="200px" height="200px" class="title">
    <br>
    <br>
    <h1>Welcome to Electricity Bill board</h1>
    <h1>of</h1>
    <h1></h1>
    <h1>Dev Birds</h1>
    <br>
    <button href="#" class="buttonHome btn btn-dark"
    routerLink="/customer-list" >List Customer</button>
    <button href="#" class="buttonHome btn btn-dark"
    routerLink="/create-customer">Add Customer</button>
    <button href="#" class="buttonHome btn btn-dark"
    routerLink="/bill-list">Show All Bills</button>
  </div>
  </div>
