
<div class="row">
  <div class="col-md-2">
    <div class="sidebar">
      <a  routerLink="/customer-list" routerLinkActive="active">List Customers</a>
      <a routerLink="/create-customer" routerLinkActive="active">Add Customers</a>
    </div>
  </div>
</div>
<div class="col-md-4 offset-md-4">
  <h3 class="mt-5 mb-5"> Create Customer </h3>
  <form #createForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> First Name</label>
      <input type="text" class="form-control" id="firstName"
      [(ngModel)] = "customer.firstName" name="firstName" required pattern="[a-zA-Z]+" #firstName="ngModel"
      [class.is-invalid]="firstName.invalid && firstName.touched">
      <div *ngIf="firstName.errors && (firstName.invalid && firstName.touched)">
        <div *ngIf="firstName.errors?.['required']">
          <small class="txt-danger">Enter First Name</small>
        </div>
        <div *ngIf="firstName.errors?.['pattern']">
          <small class="txt-danger">First Name only accepts characters</small>
        </div>
      </div>
      </div>
      <div class="form-group">
      <label> Last Name</label>
      <input type="text" class="form-control" id="lastName"
      [(ngModel)] = "customer.lastName" name="lastName" required pattern="[a-zA-Z]+" #lastName="ngModel"
      [class.is-invalid]="lastName.invalid && lastName.touched">
      <div *ngIf="lastName.errors && (lastName.invalid && lastName.touched)">
        <div *ngIf="lastName.errors?.['required']">
          <small class="txt-danger">Enter Last Name</small>
        </div>
        <div *ngIf="lastName.errors?.['pattern']">
          <small class="txt-danger">Last Name only accepts characters</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label> Area Code</label>
      <input type="text" class="form-control" id="areaCode"
      [(ngModel)] = "customer.areaCode" name="areaCode" required #areaCode="ngModel"
      [class.is-invalid]="areaCode.invalid && areaCode.touched" pattern="^[0-9]*$">
      <div *ngIf="areaCode.errors && (areaCode.invalid && areaCode.touched)">
        <div *ngIf="areaCode.errors?.['required']">
          <small class="txt-danger">Enter the Area Code</small>
        </div>
        <div *ngIf="areaCode.errors?.['pattern']">
          <small class="txt-danger">Area Code only accepts numbers</small>
        </div>
      </div>
      </div>
      <br>
    <div class="form-group">
      <label>Customer Type : </label>
      <select #cricket (change)="update($event)" required>
        <option value="default">----</option>
        <option *ngFor="let type of data" [value]="type">
            {{type}}
        </option>
    </select>
      </div>
      <br>
      <button class="btn btn-success" type="submit" [disabled]="!createForm.form.valid">Submit</button>
  </form>
  <br><br>
  <h3 class="messageClass">{{message}}</h3>
  </div>
